@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "myfont";
  src: url("assets/fonto.woff2") format('woff');
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}



body {
  font-family: 'Jost', sans-serif;
  background-color: #000000;
}


.subtitle {
color: #979797;
}

/* Remove the default blue outline on focus for all elements */
*:focus {
  outline: none;
}





.moving-gradient-text {
  position: relative;
  color: transparent;
}





.moving-gradient-text {
  
  background-image: url("./assets/superblur2.svg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: movingGradient 9s linear infinite;
}

@keyframes movingGradient {
  0%, 100% {
    background-position: 40% 50%;
  } 
  50% {
    background-position: 60% 50%;
  }
  
}


.stretch-element {
  position: absolute; /* Absolute positioning */
  left: 0; /* Stretch to the left edge */
  right: 0; /* Stretch to the right edge */
  tDop: 0; /* Align with the top edge of the main-div */
  height: auto; /* Set the desired height */
  background-color: #111111; /* Just for illustration */
}


.horizontal-line::before {
  content: "";
  display: block;
  border-top: 1px solid rgb(116, 116, 116); /* You can adjust the color and thickness as needed */
  margin: 10px 0; /* Optional: Add margin for spacing */
}
.nohorizontal-line::before {
  content: "";
  display: flex;
  border: 0.5px solid rgb(116, 116, 116); /* You can adjust the color and thickness as needed */
  margin: 10px 10px; /* Optional: Add margin for spacing */
  height: 165px;
}
